<div style="margin-top: -105px">

<div class="row justify-content-md-center text-center">
    <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray;">
       <i class="bi bi-hdd-fill"></i>
        <h3>Backend</h3>
        <p>
            Trabajo desde el desarrollo, pruebas automaticas y puesta en produccion con entrega continua.
        </p>
        <p class="text-primary cabecera">
            Stack:
        </p>
        <p>ASP.NET Core, SQL Server, Node.js</p>

        <p class="text-primary cabecera">
            Experiencia:
        </p>
        <ul>
            <li>Web  APIs</li>
            <li>ASP.NET Core MVC</li>
            <li>Entity Framework Core</li>
            <li>Blazor</li>
            <li>Principios SOLID</li>

        </ul>
    </div>
    <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px  15px 0; box-shadow: 0 5px 5px 0 gray;">
        <i class="bi bi-code-slash"></i>
        <h3>Front-End</h3>
        <p>
            Puedo crear front-ends robustos usando tecnologias modernas, los cuales cumplen con los requisitos del negocio.
        </p>

        <p class="text-primary cabecera">
            Stack:
        </p>
        <p>HTML, CSS, Blazor, React, Vue.js</p>

        <p class="text-primary cabecera">
            Experiencia:
        </p>
        <ul>
            <li>React Hooks</li>
            <li>Blazor WASM</li>
            <li>Pruebas unitarias</li>
            <li>Diseño responsive</li>
            <li>Webs modernas</li>


        </ul>
    </div>
</div>
</div>