<div class="text-center">
    <h1 class="display-4">Soy @Model.Nombre.ToUpper() </h1>
    <h2>Soy Desarrollador Full Stack especializado en tecnologias .NET y JavaScript</h2>

    <img 
     id='foto'
     src="~/img/foto.png" alt="imagen-perfil" /> 
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Trabajo en el mundo IT desde el 2017. Primero como Soporte de Aplicaciones y actualmente como desarrollador backend.
            He tenido el privilegio de trabajar para Pose SA, KaiZen2B, Napse Global y The Walt Disney Company Latam. En todas mis experiencias
            he podido crecer profesional y humanamente. Actualmente trabajo con C#/ASP.NET, SQL Server, Entity Framework, JavaScript, entre otros.
            Estudio Licenciatura en Sistemas en la UNLP.
        </p>
    </div>

</div>